@import "tailwindcss";

@config "../../tailwind.config.js";

* {
  font-family: Roboto, Poppins, sans-serif;
}

img {
  user-select: none;
}

body {
  background-color: #eae9e3;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
